table {
  border: 1.5px solid #b3b3b3;
  padding: 5px;
  height: 80vh;
  max-width: 100%;
  display: block;
  overflow: auto;
}

tr, td {
  border: 1px solid black;
}

tbody {
  margin: 15px;
}

td {
  cursor: pointer;
  position: relative;
}

.edit-table-btn {
  position: absolute;
  margin: 0;
  background-color: green;
  z-index: 10;
  border: none;
  color: #ffffff;
  text-align: center
}

.edit-table-btn.left {
  left: -13px;
  top: 50%;
  transform: translateY(-50%)
}

.edit-table-btn.right {
  right: -13px;
  top: 50%;
  transform: translateY(-50%)
}

.edit-table-btn.top {
  top: -13px;
  left: 50%;
  transform: translateX(-50%)
}

.edit-table-btn.bottom {
  bottom: -13px;
  left: 50%;
  transform: translateX(-50%)
}

td:hover, th:hover {
  background-color: rgba(255, 153, 0, .25);
}

td.empty {
  padding: 14px 32px;
}

td.filled {
  padding: 8px 14px;
}

td.selected {
  background-color: rgba(255, 153, 0, .25);
}

td.editMode {
  padding: 8px 14px;
  background-color: rgba(255, 153, 0, .5);
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn.delete {
  background-color: red
}

.dropdown {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 40%;
  justify-content: center
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  text-align: center;
  margin: 0
}

.dropdown-content button:hover {
  background-color: #eeeeee
}

.dropdown:hover .dropdown-content {
  display: block
}