td {
  cursor: pointer;
}

td:hover, th:hover {
  background-color: rgba(255, 153, 0, .25);
}

td.empty {
  padding: 14px 32px;
}

td.filled {
  padding: 8px 14px;
}

td.selected {
  background-color: rgba(255, 153, 0, .25);
}

td.editMode {
  padding: 8px 14px;
  background-color: rgba(255, 153, 0, .5);
}